$highlight: #00ff7f;
$text: #333;
$lightText: #8d8d8d;
$blue: #00d5ff;

.Sub1 {
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: #333;
    border-bottom: 2px solid;
  }

  p {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: $lightText;
  }
}
