$highlight: #00ff7f;
$text: #333;
$lightText: #8d8d8d;
$blue: #00d5ff;

@media screen and (min-width: 1171px) {
  .sub2Prices {
    width: 80%;
  }
}

@media screen and (max-width: 1170px) {
  .Sub3 {
    flex-direction: column;
    .sub3Img {
      width: 90%;
      height: 90vh;
      margin: 0 auto 15vh;
    }

    .sub3Text {
      width: 90%;
      margin: 0 auto;
    }
  }
  .sub2Prices {
    width: 90%;
  }
  .Sub4 {
    .Reviews {
      width: 90%;
      .Review {
        .reviewImg {
          border-radius: 0;
          width: 100%;
          height: 70%;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .Hero {
    .HeroImg {
      .heroText {
        width: 100%;
      }
      .heroButtons h5 {
        margin: 2vh 1.5vw;
        border: 1px solid #fff;
        border-radius: 35px;
        padding: 2vh 5vw;
        cursor: pointer;
      }
    }
  }

  .sub2Prices {
    flex-direction: column;
    height: 100%;
    transform: translateY(0%);
    width: 100%;
    background: none;
    margin-bottom: 5vh;
    padding-bottom: 5vh;
    border-bottom: 1px solid #eeefee;

    .priceBox {
      height: 30vh;
      &:nth-child(1) {
        background: $blue;
      }

      &:nth-child(2) {
        box-shadow: none;
        background: darken($highlight, 0.5);
      }
      &:nth-child(3) {
        // background: #007490;
        background: #8424ec;
      }
      &:hover {
        box-shadow: 0 15px 25px -7px rgba(255, 255, 255, 0.2),
          0 -12px 10px -10px rgba(255, 255, 255, 0.01);
        transition-duration: 0.5s;
      }
    }
  }

  .Sub4 {
    .Reviews {
      flex-direction: column;
      height: 150vh;

      .Review {
        flex-direction: row;
        width: 100%;
        margin: 2vh 0;
        height: 30vh;
        justify-content: center;
        align-items: center;

        .reviewImg {
          width: 100%;
          height: 100%;
          margin-right: 2vw;
        }

        h4 {
          margin-top: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
}
